.div-grit-gata{
    display: grid;
    grid-template-columns: 55% 40%;
    column-gap: 3.3rem;
    padding: 1rem;
}

.div-img-top-gata img{
    width: 100%;
    height: 240px;
}

.div-dados-gataMangaba{
    text-align: center;
}

.div-dados-gataMangaba span{
    font-size: 24px;
}

.div-dados-gataMangaba p{
    margin-top: 1rem;
}


.img-gata-principal{
    width: 100%;
}

.img-gata-principal img{
    width: 100%;
    height:auto;
    margin-bottom: 2%;
    cursor: pointer;
}

.div-gata-titulo-fotos{
    text-align: center;
    margin-bottom: 1rem;
}

.div-gata-titulo-fotos span{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-fotos-gata{
    padding: 1rem;
}

#janelaModal{
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    overflow: auto;
}
#imgModal{
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    max-width: 800px;
}
#btFechar{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

@media(max-width: 1355px){
    .div-grit-gata{
        grid-template-columns: 55% 40%;
        column-gap: 3rem;
    }
}

@media(max-width: 1220px){
    .div-grit-gata{
        grid-template-columns: 55% 40%;
        column-gap: 2.5rem;
    }
}

@media(max-width: 1033px){
    .div-grit-gata{
        grid-template-columns: 55% 40%;
        column-gap: 2rem;
    }
}

@media(max-width: 765px){
    .div-grit-gata{
        display: block;
    }
    .div-img-top-gata img{
        height: auto;
    }
}

