p{
    margin: 0;
    text-indent: 2em;
    padding: 0;
    line-height: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media(max-width: 780px){
    p{
        font-size: max(12px, 2vw);
    }
}

#index{
   margin-top: 0.1rem; 
   margin-bottom: 0.5rem;
   width: 100%;
}

#index a:link{
    font-size:large;
}


hr{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    height: 1px;
    color: #333;
    background-color: #333;
}

h3{
    text-align: center;
}

@media(min-width: 991px){
    #index ul{
        margin-left: 13em;
        display: flex;
        align-items: center;
    }
}

#div-image-cabecalho img{
    width: 100%;
    height: 10em;
}

@media(max-width: 600px){
    #h3-noticias h3{
        font-size: 20px;
    }
    #index-h3-politica{
        font-size: 20px;
    }
}

