.titulo-social{
    text-align: center;
    margin-bottom: 1rem;
}

.titulo-social span{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo-social-mangabeira{
    text-align: center;
    margin-bottom: 1rem;
}

.titulo-social-mangabeira span{
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div-img-social-mangabeira{
    padding: 1rem;
}